In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Iris.csv')

## Why do we need the apply function?

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
def label_species(row):
    if row in ['Iris-versicolor', 'Iris-virginica']:
        return 1
    else:
        return 0

In [9]:
df['label']=df.Species.apply(label_species)

In [11]:
df.sample(4)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,label
121,122,5.6,2.8,4.9,2.0,Iris-virginica,1
64,65,5.6,2.9,3.6,1.3,Iris-versicolor,1
96,97,5.7,2.9,4.2,1.3,Iris-versicolor,1
39,40,5.1,3.4,1.5,0.2,Iris-setosa,0