In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('Iris.csv')

In [21]:
df.sample()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
94,95,5.6,2.7,4.2,1.3,Iris-versicolor

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [23]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

## Addition

In [24]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [26]:
df['add_sepal_petal_length']= df['SepalLengthCm']+ df['PetalLengthCm']

In [28]:
df.sample(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,add_sepal_petal_length
52,53,6.9,3.1,4.9,1.5,Iris-versicolor,11.8
86,87,6.7,3.1,4.7,1.5,Iris-versicolor,11.4
2,3,4.7,3.2,1.3,0.2,Iris-setosa,6.0

## Subtraction

In [29]:
df['sub_sepal_petal_length']= df['SepalLengthCm'] - df['PetalLengthCm']

In [30]:
df.sample(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,add_sepal_petal_length,sub_sepal_petal_length
3,4,4.6,3.1,1.5,0.2,Iris-setosa,6.1,3.1
36,37,5.5,3.5,1.3,0.2,Iris-setosa,6.8,4.2
56,57,6.3,3.3,4.7,1.6,Iris-versicolor,11.0,1.6

## Multiplication

In [31]:
df['multiply_sepal_petal_length']= df['SepalLengthCm'] * df['PetalLengthCm']

In [32]:
df.sample(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,add_sepal_petal_length,sub_sepal_petal_length,multiply_sepal_petal_length
24,25,4.8,3.4,1.9,0.2,Iris-setosa,6.7,2.9,9.12
92,93,5.8,2.6,4.0,1.2,Iris-versicolor,9.8,1.8,23.20
10,11,5.4,3.7,1.5,0.2,Iris-setosa,6.9,3.9,8.10

## Division

In [33]:
df['ratio_sepal_length_width']= df['SepalLengthCm'] / df['SepalWidthCm']

In [35]:
df.sample()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,add_sepal_petal_length,sub_sepal_petal_length,multiply_sepal_petal_length,ratio_sepal_length_width
47,48,4.6,3.2,1.4,0.2,Iris-setosa,6.0,3.2,6.44,1.4375

## Exponential

In [37]:
df['SepalLengthCm_squared'] =df['SepalLengthCm'] ** 2

In [38]:
df.sample()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,add_sepal_petal_length,sub_sepal_petal_length,multiply_sepal_petal_length,ratio_sepal_length_width,SepalLengthCm_squared
25,26,5.0,3.0,1.6,0.2,Iris-setosa,6.6,3.4,8.0,1.666667,25.0

In [42]:
df['SepalLengthCm_squared'] - 2

0      24.01
1      22.01
2      20.09
3      19.16
4      23.00
       ...
145    42.89
146    37.69
147    40.25
148    36.44
149    32.81
Name: SepalLengthCm_squared, Length: 150, dtype: float64