# Drop rows of data or columns using drop function

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('gapminder_2007.csv')

In [23]:
df.sample()

,Unnamed: 0.1,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
87,1055,1055,Myanmar,Asia,2007,62.069,47761980,944.0,MMR,104

## How to drop columns

In [24]:
df.sample()

,Unnamed: 0.1,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
112,1355,1355,Sierra Leone,Africa,2007,42.568,6144562,862.540756,SLE,694

In [25]:
df1 = df.drop(labels=['Unnamed: 0.1'], axis='columns')

In [26]:
df1.sample()

,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
52,635,Guinea-Bissau,Africa,2007,46.388,1472041,579.231743,GNB,624

In [27]:
df.sample()

,Unnamed: 0.1,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
54,659,659,Honduras,Americas,2007,70.198,7483763,3548.330846,HND,340

In [28]:
df.drop(labels=['Unnamed: 0.1','Unnamed: 0'], 
        axis='columns', 
        inplace=True)

In [29]:
df.sample()

   country continent  year  lifeExp       pop  gdpPercap iso_alpha  iso_num
77  Malawi    Africa  2007   48.303  13327079  759.34991       MWI      454

## How to drop rows

In [30]:
df.sample()

   country continent  year  lifeExp        pop    gdpPercap iso_alpha  iso_num
66   Japan      Asia  2007   82.603  127467972  31656.06806       JPN      392

In [31]:
df.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
1,Albania,Europe,2007,76.423,3600523,5937.029526,ALB,8
2,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
3,Angola,Africa,2007,42.731,12420476,4797.231267,AGO,24
4,Argentina,Americas,2007,75.320,40301927,12779.379640,ARG,32

In [32]:
df.drop(labels=[0],axis='index', inplace=True)

In [33]:
df.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
1,Albania,Europe,2007,76.423,3600523,5937.029526,ALB,8
2,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
3,Angola,Africa,2007,42.731,12420476,4797.231267,AGO,24
4,Argentina,Americas,2007,75.320,40301927,12779.379640,ARG,32
5,Australia,Oceania,2007,81.235,20434176,34435.367440,AUS,36