# Drop rows of data or columns using drop function

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('gapminder_2007.csv')

In [7]:
df.sample()

,Unnamed: 0.1,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
29,359,359,Costa Rica,Americas,2007,78.782,4133884,9645.06142,CRI,188

## How to drop a column

In [9]:
df.sample()

,Unnamed: 0.1,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
74,899,899,Liberia,Africa,2007,45.678,3193942,414.507341,LBR,430

In [10]:
df1 = df.drop(labels=['Unnamed: 0.1','Unnamed: 0'],axis='columns')

In [11]:
df1.sample()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
138,West Bank and Gaza,Asia,2007,73.422,4018332,3025.349798,PSE,275

In [12]:
df.sample()

,Unnamed: 0.1,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
141,1703,1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [13]:
df.drop(labels=['Unnamed: 0.1','Unnamed: 0'],axis='columns', inplace=True)

In [14]:
df.sample()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
29,Costa Rica,Americas,2007,78.782,4133884,9645.06142,CRI,188

## How to drop a row

In [15]:
df.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
1,Albania,Europe,2007,76.423,3600523,5937.029526,ALB,8
2,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
3,Angola,Africa,2007,42.731,12420476,4797.231267,AGO,24
4,Argentina,Americas,2007,75.320,40301927,12779.379640,ARG,32

In [16]:
df.drop(labels=[1],axis='index', inplace=True)

In [17]:
df.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
2,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
3,Angola,Africa,2007,42.731,12420476,4797.231267,AGO,24
4,Argentina,Americas,2007,75.320,40301927,12779.379640,ARG,32
5,Australia,Oceania,2007,81.235,20434176,34435.367440,AUS,36