# Statistical operations in pandas

This notebook covers the common statistical functions in pandas

## Import the libraries

In [3]:
import pandas as pd

## Import the dataset

In [4]:
df = pd.read_csv('vgsales.csv')

In [28]:
df.sample()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
14095,14097,Might & Magic X: Legacy,PC,2014.0,Role-Playing,Ubisoft,0.0,0.03,0.0,0.0,0.04

## Describe

In [8]:
df.describe([.10,.20,.30,.40,.50,.60,.70,.80,.90,.95,.99])

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
10%,1661.700000,1998.000000,0.000000,0.000000,0.000000,0.000000,0.020000
20%,3321.400000,2002.000000,0.000000,0.000000,0.000000,0.000000,0.050000
30%,4981.100000,2004.000000,0.010000,0.000000,0.000000,0.000000,0.080000
40%,6640.800000,2006.000000,0.040000,0.010000,0.000000,0.010000,0.120000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
60%,9960.200000,2009.000000,0.120000,0.040000,0.000000,0.020000,0.250000
70%,11619.900000,2010.000000,0.190000,0.080000,0.020000,0.030000,0.380000
80%,13279.600000,2011.000000,0.310000,0.160000,0.060000,0.050000,0.610000
90%,14940.300000,2013.000000,0.610000,0.350000,0.180000,0.110000,1.210000
95%,15770.150000,2015.000000,1.060000,0.630000,0.360000,0.200000,2.040000
99%,16434.030000,2016.000000,2.800000,1.940000,1.270000,0.650000,5.430600
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

## Sum

In [9]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [12]:
df.sum(numeric_only=True, axis='index')

Rank            1.377734e+08
Year            3.275860e+07
NA_Sales        4.392950e+03
EU_Sales        2.434130e+03
JP_Sales        1.291020e+03
Other_Sales     7.977500e+02
Global_Sales    8.920440e+03
dtype: float64

In [11]:
df.sum(numeric_only=True, axis='columns')

0         2172.48
1         2067.48
2         2082.65
3         2079.00
4         2063.75
           ...
16593    18598.02
16594    18600.02
16595    18606.01
16596    18609.02
16597    18603.02
Length: 16598, dtype: float64

## Mean

In [13]:
df.mean(numeric_only=True)

Rank            8300.605254
Year            2006.406443
NA_Sales           0.264667
EU_Sales           0.146652
JP_Sales           0.077782
Other_Sales        0.048063
Global_Sales       0.537441
dtype: float64

In [14]:
df.mean(numeric_only=True, axis='columns')

0         310.354286
1         295.354286
2         297.521429
3         297.000000
4         294.821429
            ...
16593    2656.860000
16594    2657.145714
16595    2658.001429
16596    2658.431429
16597    2657.574286
Length: 16598, dtype: float64

## Standard deviation

In [15]:
df.std(numeric_only=True, axis='index')

Rank            4791.853933
Year               5.828981
NA_Sales           0.816683
EU_Sales           0.505351
JP_Sales           0.309291
Other_Sales        0.188588
Global_Sales       1.555028
dtype: float64

In [16]:
df.std(numeric_only=True, axis='columns')

0         748.252831
1         745.219723
2         754.339171
3         754.995784
4         750.210953
            ...
16593    6191.699882
16594    6192.057474
16595    6192.345636
16596    6192.685166
16597    6193.183099
Length: 16598, dtype: float64

## Variance

In [17]:
df.var(numeric_only=True, axis='index')

Rank            2.296186e+07
Year            3.397702e+01
NA_Sales        6.669712e-01
EU_Sales        2.553799e-01
JP_Sales        9.566070e-02
Other_Sales     3.556559e-02
Global_Sales    2.418112e+00
dtype: float64

In [18]:
df.var(numeric_only=True, axis='columns')

0        5.598823e+05
1        5.553524e+05
2        5.690276e+05
3        5.700186e+05
4        5.628165e+05
             ...
16593    3.833715e+07
16594    3.834158e+07
16595    3.834514e+07
16596    3.834935e+07
16597    3.835552e+07
Length: 16598, dtype: float64

## Median

In [19]:
df.median(numeric_only=True, axis='index')

Rank            8300.50
Year            2007.00
NA_Sales           0.08
EU_Sales           0.02
JP_Sales           0.00
Other_Sales        0.01
Global_Sales       0.17
dtype: float64

In [20]:
df.median(numeric_only=True, axis='columns')

0        29.02
1         6.81
2        12.88
3        11.01
4        10.22
         ...
16593     0.01
16594     0.01
16595     0.00
16596     0.01
16597     0.01
Length: 16598, dtype: float64

## Mode

In [21]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [22]:
df.Platform.mode()

0    DS
Name: Platform, dtype: object

## Minimum

In [23]:
df.min(numeric_only=True)

Rank               1.00
Year            1980.00
NA_Sales           0.00
EU_Sales           0.00
JP_Sales           0.00
Other_Sales        0.00
Global_Sales       0.01
dtype: float64

## Maximum

In [24]:
df.max(numeric_only=True)

Rank            16600.00
Year             2020.00
NA_Sales           41.49
EU_Sales           29.02
JP_Sales           10.22
Other_Sales        10.57
Global_Sales       82.74
dtype: float64

## Count

In [25]:
df.count(numeric_only=True)

Rank            16598
Year            16327
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64

## Correlation

In [26]:
df.corr(numeric_only=True)

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,1.000000,0.178814,-0.401362,-0.379123,-0.267785,-0.332986,-0.427407
Year,0.178814,1.000000,-0.091402,0.006014,-0.169316,0.041058,-0.074735
NA_Sales,-0.401362,-0.091402,1.000000,0.767727,0.449787,0.634737,0.941047
EU_Sales,-0.379123,0.006014,0.767727,1.000000,0.435584,0.726385,0.902836
JP_Sales,-0.267785,-0.169316,0.449787,0.435584,1.000000,0.290186,0.611816
Other_Sales,-0.332986,0.041058,0.634737,0.726385,0.290186,1.000000,0.748331
Global_Sales,-0.427407,-0.074735,0.941047,0.902836,0.611816,0.748331,1.000000

## Covariance

In [27]:
df.cov(numeric_only=True)

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,2.296186e+07,4995.406080,-1570.701366,-918.073748,-396.877102,-300.915863,-3184.806119
Year,4.995406e+03,33.977021,-0.437728,0.017835,-0.307488,0.045444,-0.682076
NA_Sales,-1.570701e+03,-0.437728,0.666971,0.316850,0.113613,0.097760,1.195097
EU_Sales,-9.180737e+02,0.017835,0.316850,0.255380,0.068082,0.069227,0.709480
JP_Sales,-3.968771e+02,-0.307488,0.113613,0.068082,0.095661,0.016926,0.294256
Other_Sales,-3.009159e+02,0.045444,0.097760,0.069227,0.016926,0.035566,0.219456
Global_Sales,-3.184806e+03,-0.682076,1.195097,0.709480,0.294256,0.219456,2.418112