## How to rename columns or rows in pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Iris.csv')

In [4]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [5]:
df.sample()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
130,131,7.4,2.8,6.1,1.9,Iris-virginica

## Rename columns

In [6]:
rename_dictionary = {'SepalLengthCm':'SL',
                    'SepalWidthCm':'SW'}

In [8]:
df.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [9]:
df.rename(rename_dictionary,axis='columns', inplace=True) # axis= 1 also works

In [10]:
df.head(3)

   Id   SL   SW  PetalLengthCm  PetalWidthCm      Species
0   1  5.1  3.5            1.4           0.2  Iris-setosa
1   2  4.9  3.0            1.4           0.2  Iris-setosa
2   3  4.7  3.2            1.3           0.2  Iris-setosa

## Rename rows

In [13]:
r_rows_dict = {0:'188888888'}

In [15]:
df.rename(r_rows_dict,axis='index', inplace=True)

In [16]:
df.head()

           Id   SL   SW  PetalLengthCm  PetalWidthCm      Species
188888888   1  5.1  3.5            1.4           0.2  Iris-setosa
1           2  4.9  3.0            1.4           0.2  Iris-setosa
2           3  4.7  3.2            1.3           0.2  Iris-setosa
3           4  4.6  3.1            1.5           0.2  Iris-setosa
4           5  5.0  3.6            1.4           0.2  Iris-setosa

In [17]:
r_dict = {2:'222222222',
         4:'4444444444'}

In [19]:
df.rename(r_dict,axis='index', inplace=True)

In [20]:
df.head()

            Id   SL   SW  PetalLengthCm  PetalWidthCm      Species
188888888    1  5.1  3.5            1.4           0.2  Iris-setosa
1            2  4.9  3.0            1.4           0.2  Iris-setosa
222222222    3  4.7  3.2            1.3           0.2  Iris-setosa
3            4  4.6  3.1            1.5           0.2  Iris-setosa
4444444444   5  5.0  3.6            1.4           0.2  Iris-setosa